@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: #007580;
  --secondary: #258992;
  --light: #2b97a1;
}
